{% extends 'base.html' %}

{% block title %} Solicitudes de Catequistas {% endblock %}

{% block content %}
   
    <!-- Contenido principal a la derecha -->
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="text-2xl font-bold text-center mb-4">Solicitudes pendientes</h2>
        <div class="flex-container">
            <div class="solicitudes-column">
                
                <div>
                    <table class="alumnos-table rounded-border">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Disponibilidad</th>
                                <th>Preferencia</th>
                                <th>Acciones</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in solicitudes_por_asignar %}
                                <tr class="alumno">
                                    <td class="py-2 px-4 border-b">{{ user.nombre }} {{ user.apellidos }}</td>
                                    <td class="py-2 px-4 border-b"> {{ user.disponibilidad }}</td>
                                    <td class="py-2 px-4 border-b">{{ user.preferencias }}</td>
                                    <td class="py-2 px-4 border-b">
                                        <!-- Barra de selección -->
                                        <select class="select-option" data-user-id="{{ user.id }}">
                                            <option value="">---</option>
                                            <option value="posco_1">Posco1</option>
                                            <option value="posco_2">Posco2</option>
                                            <option value="posco_3">Posco3</option>
                                            <option value="posco_4">Posco4</option>
                                            <option value="gr_juv_1">GJ1</option>
                                            <option value="gr_juv_2">GJ2</option>
                                            <option value="catecumenados_1">Cat1</option>
                                            <option value="catecumenados_2">Cat2</option>
                                            <option value="catecumenados_3">Cat3</option>
                                        </select>
                                    </td>
                                    <td class="py-2 px-4 border-b"><a href="{% url 'eliminar_solicitud' user.id %}" style="color:red; padding: 5px 5px;"><span class="material-icons">
                                        delete
                                        </span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="cuadricula-column" style="flex: 2">
                <div class="grid-container">
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Posco1</div>
                        <div class="grid-cell" data-option="posco_1"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Posco2</div>
                        <div class="grid-cell" data-option="posco_2"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Posco3</div>
                        <div class="grid-cell" data-option="posco_3"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Posco4</div>
                        <div class="grid-cell" data-option="posco_4"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">GJ1</div>
                        <div class="grid-cell" data-option="gr_juv_1"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">GJ2</div>
                        <div class="grid-cell" data-option="gr_juv_2"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Cat1</div>
                        <div class="grid-cell" data-option="catecumenados_1"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Cat2</div>
                        <div class="grid-cell" data-option="catecumenados_2"></div>
                    </div>
                    <div class="cell-wrapper">
                        <div class="grid-cell-title">Cat3</div>
                        <div class="grid-cell" data-option="catecumenados_3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button  class="asignar-button">Asignar</button>
        </div>

        <h2 class="text-2xl font-bold text-center mb-4">Solicitudes asignadas</h2>
        <div class="scrollmenu">
            <table class="alumnos-table rounded-border">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Disponibilidad</th>
                        <th>Preferencia</th>
                        <th>Ciclo Asignado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in solicitudes_asignadas %}
                        <tr class="alumno">
                            <td class="py-2 px-4 border-b">{{ user.nombre }} {{ user.apellidos }}</td>
                            <td class="py-2 px-4 border-b"> {{ user.disponibilidad }}</td>
                            <td class="py-2 px-4 border-b">{{ user.preferencias }}</td>
                            <td class="py-2 px-4 border-b">{{ user.ciclo_asignado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>


    <style>
        .flex-container {
            overflow-x: auto;
            display: flex;
            align-items: flex-start;
        }

    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener todas las barras de selección y cuadrículas
            const selectOptions = document.querySelectorAll(".select-option");
            const gridCells = document.querySelectorAll(".grid-cell");

            // Inicializar el objeto para realizar un seguimiento de las opciones seleccionadas
            const selectedOptions = {};

            // Obtener el mapeo de ID de usuario a nombres
            const userNames = {
                {% for user in solicitudes_por_asignar %}
                    "{{ user.id }}": "{{ user.nombre }} {{ user.apellidos }}",
                {% endfor %}
            };

            // Agregar evento de cambio a cada barra de selección
            selectOptions.forEach((selectOption, index) => {
                selectOption.addEventListener("change", function () {
                    // Obtener el valor seleccionado y el ID de usuario
                    const selectedValue = this.value;
                    const userId = this.getAttribute("data-user-id");

                    // Realizar un seguimiento de la opción seleccionada para el usuario
                    selectedOptions[userId] = selectedValue;

                    // Actualizar la cuadrícula
                    updateGrid();
                });
            });

            // Función para actualizar la cuadrícula
            function updateGrid() {
                // Limpiar todas las celdas de la cuadrícula
                gridCells.forEach((gridCell) => {
                    gridCell.innerHTML = "";
                });

                // Llenar las celdas correspondientes según las opciones seleccionadas
                for (const userId in selectedOptions) {
                    const selectedValue = selectedOptions[userId];
                    const gridCell = document.querySelector(`.grid-cell[data-option="${selectedValue}"]`);
                    
                    // Mostrar el nombre del usuario en lugar del ID
                    const userName = userNames[userId];

                    // Crear un elemento de separación
                    const spaceDiv = document.createElement("div");
                    spaceDiv.style.marginBottom = "8px"; // Ajusta el espacio entre cada solicitud

                    // Añadir el elemento de separación a la celda
                    gridCell.appendChild(spaceDiv);

                    // Crear un elemento div para mostrar el nombre del usuario
                    const rectangleDiv = document.createElement("div");
                    rectangleDiv.className = "name-rectangle";
                    rectangleDiv.textContent = userName;

                    // Añadir el elemento div a la celda
                    gridCell.appendChild(rectangleDiv);
                }
            }

            // Obtener el botón "Asignar"
            const asignarButton = document.querySelector(".asignar-button");

            // Agregar un evento de clic al botón "Asignar"
            asignarButton.addEventListener("click", function () {
                const asignaciones = [];

                // Recorrer las opciones seleccionadas y construir el array de asignaciones
                for (const userId in selectedOptions) {
                    const selectedValue = selectedOptions[userId];
                    asignaciones.push({ userId, cicloAsignado: selectedValue });
                }

                // Enviar las asignaciones al servidor a través de una solicitud HTTP
                const csrftoken = getCookie('csrftoken');
                fetch("/catequista/asignar_catequistas/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken
                    },
                    body: JSON.stringify(asignaciones),
                })
                .then(response => {
                    if (response.ok) {
                        console.log("Asignaciones enviadas correctamente");
                        window.location.reload();
                    } else {
                        console.error("Error al enviar las asignaciones");
                    }
                })
                .catch(error => {
                    console.error("Error al enviar las asignaciones:", error);
                });

                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }
            });
        });
    </script>

    
{% endblock %}