{% extends 'base.html' %}

{% block title %} Subir archivo {% endblock %}

{% block content %}

<div class="ruta">
    <a href="{% url 'listar_archivos' %}">Principal</a>
    {% for carpeta in ruta %}
        <span style="margin: 0 5px;">&gt;</span>
        <a href="{% url 'listar_archivos_en_carpeta' carpeta.id %}">{{ carpeta.name }}</a>
    {% endfor %}
</div>

{% if not actual_folder is None %}
    <a href="{% url 'subir_archivo_en_carpeta' actual_folder %}">Nuevo archivo</a>
    <a href="{% url 'crear_carpeta_en_carpeta' actual_folder %}">Nueva carpeta</a>
{% else %}
    <a href="{% url 'subir_archivo' %}">Nuevo archivo</a>
    <a href="{% url 'crear_carpeta' %}">Nueva carpeta</a>
{% endif %}

<div class="grid-container">
    {% for folder in folders %}
        <div class="grid-item">
            <div class="dropdown">
                <button onclick="toggleDropdown(this)" class="dropbtn"><span class="material-icons">
                    more_vert
                    </span></button>
                <div id="dropdown{{ folder.id }}" class="dropdown-content">
                    <a href="{% url 'eliminar_carpeta' folder.id %}">Eliminar</a>
                    <a href="{% url 'mover_carpeta' folder.id %}">Mover</a>
                    <a href="{% url 'cambiar_nombre_carpeta' folder.id %}">Cambiar nombre</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <p style="text-align: center;"> {{ folder.name }} </p>
                <a style="display: flex; justify-content: center;"href="{% url 'listar_archivos_en_carpeta' folder.id %}" alt="{{ folder.name }}">
                    <img src="/static/icons/folder_icon3.png" alt="{{ folder.name }}" class="thumbnail">
                </a>
            </div>
        </div>
    {% endfor %}
    {% for file in files %}
        <div class="grid-item">
            <div class="dropdown">
                <button onclick="toggleDropdown(this)" class="dropbtn"><span class="material-icons">
                    more_vert
                    </span></button>
                <div id="dropdown{{ file.id }}" class="dropdown-content">
                    <a href="/media/{{ file.file }}" download="{{file.name}}">Descargar</a>
                    <a href="{% url 'eliminar_archivo' file.id %}">Eliminar</a>
                    <a href="{% url 'mover_archivo' file.id %}">Mover</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <p> {{ file.name }} </p>
                {% if file.is_image %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/media/{{ file.file }}" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% elif file.is_video %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/video_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                
                {% elif file.is_pdf %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/pdf_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% elif file.is_doc %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/doc_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% elif file.is_excel %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/xls_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% elif file.is_ppt %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/ppt_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% else %}
                    <a href="/media/{{ file.file }}" alt="{{ file.name }}" target="_blank">
                        <img src="/static/icons/file_icon3.png" alt="{{ file.name }}" class="thumbnail">
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<style>
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .grid-item {
        position: relative;
        flex: 0 1 200px;
        margin: 10px;
        background-color: lightgray;
        border-radius: 5%;
        padding: 5px;
    }

    .thumbnail {
        max-width: 150px; 
        max-height: 150px;
        margin-bottom: 10px;
    }

    .dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 6px 0;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .ruta {
        display: flex; 
        align-items: center; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        background-color: #fff;
        padding: 5px;
        font-size: larger;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>

<script>
    function toggleDropdown(btn) {
        var dropdownContent = btn.nextElementSibling;
        if (dropdownContent.style.display === "block") {
            dropdownContent.style.display = "none";
        } else {
            dropdownContent.style.display = "block";
        }
    }
</script>

{% endblock %}
