{% extends 'base.html' %}
{% load static %}

{% block title %} Nueva Sesión {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h1>Crear Sesión para {{ ciclo }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

{% endblock %}