{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Sesiones {% endblock %}

{% block content %}

<div id="alumnos-container">
    <table class="alumnos-table rounded-border">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for sesion in sesiones %}
                <tr class="alumno" data-ciclo="{{ catecumeno.ciclo }}">
                    <td>{{ sesion.titulo }}</td>
                    <td>{{ sesion.descripcion }}</td>
                    <td>{{ sesion.fecha }}</td>
                    <td>
                        <a href="{% url 'pasar_lista' sesion.id %}">Pasar Lista</a>
                    </td>
                    <td>
                        <a href="{% url 'editar_sesion' sesion.id %}">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'eliminar_sesion' sesion.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}