{% extends 'base.html' %}

{% block title %} Mis Salas {% endblock %}

{% block content %}

<a class="boton nueva-reserva" href="{% url 'lista_salas' %}"> Reservar sala</a>
<h2 style="text-align: center; border-bottom: 1px solid #ccc;"> Reservas futuras</h2>

{% if error_reserva_pasada %}
    <p style="color: red; text-align: center;">{{ error_reserva_pasada }}</p>
{% endif %}

<div class="reservas-container">
    {% if reservas_futuras %}
        {% for reserva in reservas_futuras %}
            <div class = "reserva">
                <h3> {{ reserva.sala }}</h3>
                <p> {{ reserva.fecha }}</p>
                <p> {{ reserva.hora_inicio }} - {{ reserva.hora_fin }}</p>
                <div style="text-align: center;">
                    <a class="boton cancelar" href="{% url 'cancelar_reserva' reserva.id %}">Cancelar</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-reservas">No tienes reservas futuras</p>
    {% endif %}
</div>

<h2 style="text-align: center; border-bottom: 1px solid #ccc;"> Solicitudes de reserva pendientes</h2>
<div class="reservas-container">
    {% if solicitudes_de_reserva %}
        {% for solicitud in solicitudes_de_reserva %}
            <div class = "reserva solicitud" motivo-solicitud="Motivo: {{ solicitud.motivo }}">
                <h3> {{ solicitud.sala }}</h3>
                <p> Fecha: {{ solicitud.fecha }}</p>
                <p> {{ solicitud.hora_inicio }} - {{ solicitud.hora_fin }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-reservas">No hay solicitudes pendientes</p>
    {% endif %}
</div>

<h2 style="text-align: center; border-bottom: 1px solid #ccc;"> Reservas pasadas</h2>
<div class="reservas-container">
    {% if reservas_pasadas %}
        {% for reserva in reservas_pasadas %}
            <div class = "reserva">
                <h3> {{ reserva.sala }}</h3>
                <p> Fecha: {{ reserva.fecha }}</p>
                <p> {{ reserva.hora_inicio }} - {{ reserva.hora_fin }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-reservas">No hay reservas pasadas</p>
    {% endif %}
</div>

<style>
    .reservas-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
    }

    .reserva{
        position: relative;
        background-color: #fff;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .reserva h3{
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    /* Estilo para el título emergente */
    .solicitud:hover:after {
        content: attr(motivo-solicitud);
        background-color: rgb(174, 162, 162);
        color: white;
        padding: 5px;
        position: absolute;
        left: 0;
        bottom: 100%; /* Cambia la posición para que aparezca encima del contenedor */
        white-space: normal; /* Permite que el texto se ajuste a varias líneas */
        z-index: 1;
        width: max-content; /* Ajusta el ancho al contenido */
        max-width: 700px; /* Limita el ancho máximo del cuadro emergente */
        word-wrap: break-word; /* Permite que las palabras largas se dividan en varias líneas */
    }

    .boton{
        display: inline-block;
        margin: 10px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .cancelar{
        padding: 5px 10px;
        background-color: red;
    }

    .nueva-reserva{
        background-color: #86c631;
        padding: 10px 20px;
        font-weight: bold;
    }

    .nueva-reserva:hover{
        background-color: #FFBE0B;
    }

    .no-reservas {
        background-color: #d4edda; 
        color: #155724; 
        border: 1px solid #c3e6cb; 
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 10px auto; 
        max-width: 500px;
    }

</style>

{% endblock %}