{% extends 'base.html' %}
{% load static %}

{% block title %} Bandeja de entrada {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/correo_style.css' %}">

    <!-- Spinner de carga -->
    <div id="spinner" class="spinner"></div>

    <!-- Contenedor del contenido -->
    <div id="content" class="container" style="display: none;">
        <div class="cabecera">
            <h1>Bandeja de Entrada</h1>
            <div class="botones-derecha">
                <button id="mostrarFormulario" class="boton"><span class="material-icons">
                    edit
                    </span></button>
                <a href="{% url 'outbox' %}" class="boton">Bandeja de Salida</a>
            </div>
        </div>
        <table>
            <th></th>
            <tbody id="messages-body">
                <!-- Los mensajes se cargarán aquí dinámicamente -->
            </tbody>
        </table>
    </div>

    <!-- Contenedor del formulario para enviar mensaje -->
    <div id="formularioEnviarMensaje" class="formulario-enviar-mensaje">
        <button id="cerrarFormulario" class="cerrar-btn">x</button>
        {% include 'enviar_correo.html' %}
    </div>

    <div id="mensajeExito" class="mensaje-exito">
        El mensaje se ha enviado con éxito.
    </div>

    <div id="pagination" class="pagination" style="display: none;">
        <span class="step-links" id="pagination-links">
            <!-- Los enlaces de paginación se cargarán aquí dinámicamente -->
        </span>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function loadMessages(page) {
                const spinner = document.getElementById("spinner");
                const content = document.getElementById("content");
                const pagination = document.getElementById("pagination");

                // Mostrar el spinner y ocultar el contenido mientras se cargan los mensajes
                spinner.style.display = "block";
                content.style.display = "none";
                pagination.style.display = "none";

                fetch("{% url 'obtener_mensajes_inbox' %}?page=" + page, {
                    headers: {
                        "X-Requested-With": "XMLHttpRequest"
                    }
                })
                .then(response => response.json())
                .then(data => {
                    const messagesBody = document.getElementById("messages-body");
                    const paginationLinks = document.getElementById("pagination-links");

                    // Limpiar el contenido anterior
                    messagesBody.innerHTML = "";
                    paginationLinks.innerHTML = "";

                    // Añadir los mensajes al cuerpo de la tabla
                    data.mensajes.forEach(mensaje => {
                        const row = document.createElement("tr");
                        row.className = `mensaje ${mensaje.seen ? 'leido' : 'no_leido'}`;
                        row.setAttribute("data-id", mensaje.id);
                        row.innerHTML = `
                            <td><strong>${mensaje.sender}</strong></td>
                            <td><strong>${mensaje.subject}</strong> | ${mensaje.body}</td>
                            <td>${mensaje.date}</td>
                        `;
                        messagesBody.appendChild(row);
                    });

                    // Configurar la paginación
                    if (data.mensajes_pagina.has_previous) {
                        const prevLink = document.createElement("a");
                        prevLink.href = "#";
                        prevLink.textContent = "Anterior";
                        prevLink.addEventListener("click", (event) => {
                            event.preventDefault();
                            loadMessages(data.mensajes_pagina.previous_page_number);
                        });
                        paginationLinks.appendChild(prevLink);
                    }

                    const pageInfo = document.createElement("span");
                    pageInfo.className = "current";
                    pageInfo.textContent = `Página ${data.mensajes_pagina.number} de ${data.mensajes_pagina.num_pages}.`;
                    paginationLinks.appendChild(pageInfo);

                    if (data.mensajes_pagina.has_next) {
                        const nextLink = document.createElement("a");
                        nextLink.href = "#";
                        nextLink.textContent = "Siguiente";
                        nextLink.addEventListener("click", (event) => {
                            event.preventDefault();
                            loadMessages(data.mensajes_pagina.next_page_number);
                        });
                        paginationLinks.appendChild(nextLink);
                    }

                    // Ocultar el spinner y mostrar el contenido
                    spinner.style.display = "none";
                    content.style.display = "block";
                    pagination.style.display = "block";

                    // Agregar event listeners a las filas para redirigir al detalle del mensaje
                    document.querySelectorAll("table tbody tr").forEach(row => {
                        row.addEventListener("click", () => {
                            const id = row.getAttribute("data-id");
                            if (id) {
                                const url = "{% url 'detalles_mensaje' 0 %}".replace("0", id);
                                window.location.href = url;
                            }
                        });
                    });
                })
                .catch(error => {
                    console.error("Error al cargar los mensajes:", error);
                    spinner.style.display = "none";
                    content.style.display = "block";
                });
            }

            // Cargar la primera página de mensajes cuando se carga la página
            loadMessages(1);

            document.getElementById("mostrarFormulario").addEventListener("click", function() {
                document.getElementById("correoForm").reset();
                document.getElementById("formularioEnviarMensaje").style.display = "block";
            });

            document.getElementById("cerrarFormulario").addEventListener("click", function() {
                document.getElementById("formularioEnviarMensaje").style.display = "none";
            });

            document.getElementById("correoForm").addEventListener("submit", function(event) {
                event.preventDefault(); 
                var form_data = new FormData(this);
                console.log(form_data);
                fetch("{% url 'enviar_correo' %}", {
                    method: "POST",
                    body: form_data,
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById("formularioEnviarMensaje").style.display = "none";
                        document.getElementById("mensajeExito").style.display = "block";

                        setTimeout(() => {
                            document.getElementById("mensajeExito").style.display = "none";
                        }, 5000); 
                    } else {
                        if (data.error == 'No se ha especificado ningún destinatario'){
                            alert("No se ha especificado ningún destinatario");
                        } else if(data.error == 'Las direcciones de correo electrónico no son válidas'){
                            alert("Las direcciones de correo electrónico no son válidas");
                        } else {
                            alert("Ha ocurrido un error al enviar el correo electrónico.");
                        }
                    }
                })
                .catch(error => {
                    console.error("Ha ocurrido un error al enviar el correo electrónico.");
                });

                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }
            });
        });
    </script>

    <style>
        tr {
            cursor: pointer;
        }
    </style>
{% endblock %}
