{% extends 'base.html' %}
{% load static %}

{% block title %} Enviar Correo {% endblock %}

{% block content %}

<form method="post" action="{% url 'enviar_correo' %}" enctype="multipart/form-data" id="correoForm">
    {% csrf_token %}
    <label for="destinatario">Para:</label>
    <textarea name="destinatario" id="destinatario" placeholder="Destinatarios separados por comas" value="{{ emails }}"></textarea>

    <label for="asunto">Asunto:</label>
    <input type="text" name="asunto" id="asunto" placeholder="Asunto">

    <label for="mensaje">Mensaje:</label>
    <textarea class="texto-mensaje" name="mensaje" id="mensaje" placeholder="Mensaje"></textarea>

    <button type="submit" id="guardarBtn"><span class="material-icons" style="vertical-align: middle;">send</span></button>
</form>

<div id="mensajeExito" class="mensaje-exito">
    El mensaje se ha enviado con éxito.
</div>

<style>
    #correoForm {
        width: 500px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .texto-mensaje{
        height: 400px;
    }

    input[type="email"]:focus,
    input[type="text"]:focus,
    textarea:focus {
        border-color: #007bff;
        outline: none;
    }

    button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }
    .mensaje-exito {
        display: none; 
        position: fixed; 
        bottom: 20px; 
        right: 20px; 
        background-color: #4caf50; 
        color: white; 
        padding: 15px; 
        border-radius: 5px; 
        z-index: 9999; 
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const correos_input = document.getElementById("destinatario");

        correos = "{{ emails }}";
        console.log(correos);
        correos_input.value = correos;
    });

    document.getElementById("correoForm").addEventListener("submit", function(event) {

    event.preventDefault(); 
    var form_data = new FormData(this);
    console.log(form_data);
    fetch("{% url 'enviar_correo' %}", {
        method: "POST",
        body: form_data,
        headers: {
            "X-CSRFToken": getCookie("csrftoken")
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            document.getElementById("mensajeExito").style.display = "block";
            
            setTimeout(() => {
                document.getElementById("mensajeExito").style.display = "none";
            }, 3000); 
            
        } else {
            if (data.error == 'No se ha especificado ningún destinatario'){
                alert("No se ha especificado ningún destinatario");
            }else if(data.error == 'Las direcciones de correo electrónico no son válidas'){
                alert("Las direcciones de correo electrónico no son válidas");
            }else{
                alert("Ha ocurrido un error al enviar el correo electrónico.");
            }
            
        }
    })
    .catch(error => {
        console.error("Ha ocurrido un error al enviar el correo electrónico.");
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    });

</script>


{% endblock %}