{% extends 'base.html' %}

{% block title %} Crear Coordinador {% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="row">
    {% for cycle, users in users_by_cycle.items %}
    <div class="column">
      <label for="cycle_{{ cycle.0 }}">{{ cycle.1 }}</label>
      <select name="cycle_{{ cycle.0 }}">
        <option value="">Seleccione un usuario</option>
        {% for user in users %}
        <option value="{{ user.id }}" {% if user.is_coord %} selected {% endif %}>{{ user.first_name }} {{user.last_name }}</option>
        {% endfor %}
      </select>
    </div>
    {% endfor %}
  </div>
  <button type="submit">Guardar</button>
</form>

<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column {
    flex: 0 1 calc(33.33% - 20px);
    /* 33.33% width with 10px padding */
    margin-bottom: 20px;
    /* Espacio entre las columnas */
    padding: 10px;
    box-sizing: border-box;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #86c631;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  button[type="submit"]:hover {
    background-color: #FFBE0B;
  }
  /* Estilos para pantallas medianas y pequeñas */
@media only screen and (max-width: 768px) {
  .column {
    flex-basis: calc(50% - 20px); /* Dos columnas por fila con 20px de espacio entre ellas */
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 480px) {
  .column {
    flex-basis: calc(100% - 20px); /* Una columna por fila con 20px de espacio */
  }
}

</style>
{% endblock %}