{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Catequistas {% endblock %}

{% block content %}

<div id="alumnos-container">
    <div class="scrollmenu">
        <table class="alumnos-table rounded-border">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% if not catequistas %}
                    <tr>
                        <td colspan="10" class="no-alumnos">No hay catequistas para mostrar</td>
                    </tr>
                {% else %}
                    {% for catequista in catequistas %}
                        <tr class="alumno">
                            <td>{{ catequista.first_name }} {{ catequista.last_name }}</td>
                            <td>{{ catequista.email }}</td>
                            <td>{{ catequista.telefono }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .scrollmenu {
        overflow-x: auto;
    }

    .scrollmenu table {
        width: 100%;
        white-space: nowrap; /* Para que los elementos no se rompan */
    }

    .no-alumnos {
        background-color: #d4edda; 
        color: #155724; 
        border: 1px solid #c3e6cb; 
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        margin: 10px auto; 
        max-width: 500px;
    }
</style>


{% endblock %}