{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Catequistas {% endblock %}

{% block content %}

<div id="alumnos-container">
    <div class="scrollmenu">
        <table class="alumnos-table rounded-border">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {% for catequista in catequistas %}
                    <tr class="alumno">
                        <td>{{ catequista.first_name }} {{ catequista.last_name }}</td>
                        <td>{{ catequista.email }}</td>
                        <td>{{ catequista.telefono }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .scrollmenu {
        overflow-x: auto;
    }

    .scrollmenu table {
        width: 100%;
        white-space: nowrap; /* Para que los elementos no se rompan */
    }
</style>


{% endblock %}