.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
   
}

.flex-vertical {
    display: flex;
    flex-flow: column;
    flex-basis:40%;
    justify-content: space-between;
    align-items: stretch;
}
.caja {
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.5s; /* Agregado box-shadow a la transición */
}

.grupo {
    flex-basis: 20%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.caja:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(160, 59, 59, 0.5); /* Cambiado el color de la sombra en :hover */
}

.sesion {
    background-color: rgba(249, 223, 188, 0.886);
    flex-basis: 55%;
    margin-left: 10px;
    margin-right: 10px;
}

.miembros {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.miembros p {
    margin:0;
    font-weight: normal;
}

.verticales {
    display: flex; 
    flex-flow: column wrap;
    justify-content: center; 
    align-items: stretch;
    text-align: center;
    margin-bottom: 5px;
    flex:1;
}


a {
    text-decoration: none;
}

.casilla {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    margin: 10px;
    padding: 20px;
    text-align: center; 
    justify-content: space-around;
}


.cuadrado {
    background-color: lightblue;
    margin-left:5px;
    flex:1;
    aspect-ratio: 1;   
    max-width: 220px;
}

.cuadrado:last-child{
    margin-left: 20px;
}

.estadisticas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.estadisticas2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.boton {
    display: inline-block;
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: skyblue;
}