{% extends 'base.html' %}

{% block title %} Solicitudes de Catequistas {% endblock %}

{% block content %}
   
    <!-- Contenido principal a la derecha -->
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">

    <div class="text-center">
        <button  class="asignar-button boton">Asignar</button>
    </div>

    <div class="scrollmenu">
        <div class="flex-container">
            <div class="solicitudes-column">
                <table class="alumnos-table rounded-border">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for catecumeno in catecumenos %}
                            <tr class="alumno">
                                <td class="py-2 px-4 border-b">{{ catecumeno.nombre }}</td>
                                <td class="py-2 px-4 border-b">{{ catecumeno.apellidos }}</td>
                                <td class="py-2 px-4 border-b">
                                    <!-- Barra de selección -->
                                    <select class="select-option" data-user-id="{{ catecumeno.id }}">
                                        <option value="">Seleccionar grupo</option>
                                        {% for grupo in grupos %}
                                            {% if catecumeno in grupo.miembros.all %}
                                                <option value="{{ grupo.id }}" selected>{{ grupo }}</option>
                                            {% else %}
                                                <option value="{{ grupo.id }}">{{ grupo }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="cuadricula-column">
                <div class="grid-container">
                    {% for grupo in grupos %}
                        <div class="grid-cell-title">{% if grupo.catequista1 %}{{ grupo.catequista1.nombre }}{% else %}Catequista1{% endif %} y {% if grupo.catequista2 %}{{ grupo.catequista2.nombre }}{% else %}Catequista2{% endif %}</div>
                    {% endfor %}
                </div>
                <!-- Cuadrícula debajo de la tabla -->
                <div class="grid-container">
                    {% for grupo in grupos %}
                        <div class="grid-cell" data-option="{{ grupo.id }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .boton{
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: #86c631;
        cursor: pointer;
        border: none;
        font-size: 16px;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .boton:hover {
        background-color: #FFBE0B;
    }
</style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener todas las barras de selección y cuadrículas
            const selectOptions = document.querySelectorAll(".select-option");
            const gridCells = document.querySelectorAll(".grid-cell");

            // Inicializar el objeto para realizar un seguimiento de las opciones seleccionadas
            const selectedOptions = {};

            // Obtener el mapeo de ID de usuario a nombres
            const userNames = {
                {% for catecumeno in catecumenos %}
                    "{{ catecumeno.id }}": "{{ catecumeno.nombre }} {{ catecumeno.apellidos }}",
                {% endfor %}
            };

            

            // Agregar evento de cambio a cada barra de selección
            selectOptions.forEach((selectOption, index) => {
                selectOption.addEventListener("change", function () {
                    // Obtener el valor seleccionado y el ID de usuario
                    const selectedValue = this.value;
                    const userId = this.getAttribute("data-user-id");

                    // Realizar un seguimiento de la opción seleccionada para el usuario
                    selectedOptions[userId] = selectedValue;
                    
                    // Actualizar la cuadrícula
                    updateGrid();
                });

                // Agregar las opciones seleccionadas al cargar la página
                const selectedValue = selectOption.value;
                const userId = selectOption.getAttribute("data-user-id");
                selectedOptions[userId] = selectedValue;
            });

            updateGrid();

            // Función para actualizar la cuadrícula
            function updateGrid() {
                // Limpiar todas las celdas de la cuadrícula
                gridCells.forEach((gridCell) => {
                    gridCell.innerHTML = "";
                });

                // Llenar las celdas correspondientes según las opciones seleccionadas
                for (const userId in selectedOptions) {
                    const selectedValue = selectedOptions[userId];

                    // Verificar si el valor seleccionado no está vacío (no es la opción "Seleccionar grupo")
                    if (selectedValue !== "") {
                        // Obtener la celda de la cuadrícula correspondiente al grupo seleccionado
                        const gridCell = document.querySelector(`.grid-cell[data-option="${selectedValue}"]`);
                        if (gridCell) {
                            // Mostrar el nombre del usuario en lugar del ID
                            const userName = userNames[userId];

                            // Crear un elemento de separación
                            const spaceDiv = document.createElement("div");
                            spaceDiv.style.marginBottom = "8px"; // Ajusta el espacio entre cada solicitud

                            // Añadir el elemento de separación a la celda
                            gridCell.appendChild(spaceDiv);

                            // Crear un elemento div para mostrar el nombre del usuario
                            const rectangleDiv = document.createElement("div");
                            rectangleDiv.className = "name-rectangle";
                            rectangleDiv.textContent = userName;

                            // Añadir el elemento div a la celda
                            gridCell.appendChild(rectangleDiv);
                        } else {
                            console.error(`No se encontró una celda de cuadrícula para la opción ${selectedValue}`);
                        }
                    }
                }
            }



            // Obtener el botón "Asignar"
            const asignarButton = document.querySelector(".asignar-button");

            // Agregar un evento de clic al botón "Asignar"
            asignarButton.addEventListener("click", function () {
                const asignaciones = [];

                // Recorrer las opciones seleccionadas y construir el array de asignaciones
                for (const userId in selectedOptions) {
                    const selectedValue = selectedOptions[userId];
                    asignaciones.push({ userId, grupoAsignado: selectedValue });
                }

                // Enviar las asignaciones al servidor a través de una solicitud HTTP
                const csrftoken = getCookie('csrftoken');
                const ciclo = "{{ ciclo }}";
                fetch("/catecumeno/asignar_a_grupo/?ciclo=" + ciclo, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": csrftoken
                    },
                    body: JSON.stringify(asignaciones),
                })
                .then(response => {
                    if (response.ok) {
                        console.log("Asignaciones enviadas correctamente");

                        window.location.href='/grupo?ciclo=' + ciclo;
                    } else {
                        console.error("Error al enviar las asignaciones");
                    }
                })
                .catch(error => {
                    console.error("Error al enviar las asignaciones:", error);
                });

                function getCookie(name) {
                    const value = `; ${document.cookie}`;
                    const parts = value.split(`; ${name}=`);
                    if (parts.length === 2) return parts.pop().split(';').shift();
                }
            });
        });
    </script>

    
{% endblock %}
