{% extends 'base.html' %}
{% load static %}

{% block title %} Asociar Preferencias {% endblock %}

{% block content %}

<h2 class="ml-12 mb-8 pb-2 text-2xl text-center border-b">Asociación Manual de Preferencias</h2>

<div class="grid grid-cols-2 gap-4">
  <form method="post" action="{% url 'asociar_preferencias' curso %}">
    {% csrf_token %}
    <button class="p-6 bg-white rounded-b-xl text-center text-xl" type="submit">Guardar Asociaciones</button>
    {% for alumno in alumnos_con_preferencias %}
      <div class="mb-3">
        <p><strong>{{ alumno.nombre }} {{ alumno.apellidos }}</strong>: {{ alumno.preferencias }}</p>
        <label for="usuarios-{{ alumno.id }}">Seleccionar usuarios:</label>
        <select id="usuarios-{{ alumno.id }}" name="usuarios-{{ alumno.id }}" multiple>
          {% for usuario in usuarios_disponibles %}
              {% if usuario.id != alumno.id %}
                {% if usuario in alumno.preferencias_procesadas.all %}
                  <option value="{{ usuario.id }}" selected>{{ usuario.nombre }} {{ usuario.apellidos }}</option>
                {% else %}
                  <option value="{{ usuario.id }}">{{ usuario.nombre }} {{ usuario.apellidos }}</option>
                {% endif %}
              {% endif %}
          {% endfor %}
        </select>
      </div>
      <hr>
    {% endfor %}
    
  </form>


  <div>
    {% for alumno in usuarios_disponibles %}
      <div class="mb-3">
        <p><strong>{{ alumno.nombre }} {{ alumno.apellidos }}</strong>: {{ alumno.preferencias }}</p>
        {% for preferencia in alumno.preferencias_procesadas.all %}
          <p> {{ preferencia }}</p>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}
