{% extends 'base.html' %}

{% block title %} Perfil de {{ catecumeno.nombre }} {{ catecumeno.apellidos }} {% endblock %}

{% for error in form.suggestion_start_date.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}


{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<div style="display: flex; flex-wrap: wrap;">
    <div class="panel" style="flex: 1; margin-right: 15px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;  border-bottom: 2px solid #ccc; padding-bottom: 5px;">
            <h1 style="margin-top: 5px; margin-bottom: 10px;">Información de contacto</h1>
            <button type="submit"><span class="material-icons">
                done
                </span></button>
        </div>
        <p><strong>Nombre:</strong> <input type="text" name="nombre" value="{{ form.nombre.value }}">{% for error in form.nombre.errors  %}  <span class="error">{{ error }}</span> {% endfor %} <input type="text" name="apellidos" value="{{ form.apellidos.value }}"> {% for error in form.apellidos.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Email:</strong> <input type="email" name="email" value="{{ form.email.value }}"></p>
        <p><strong>DNI:</strong> <input type="text" name="dni" value="{{ form.dni.value }}"> {% for error in form.dni.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Teléfono:</strong> <input type="tel" name="telefono" value="{{ form.telefono.value }}">  {% for error in form.telefono.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Ciclo:</strong>
            <select name="ciclo">
                {% for ciclo_key, ciclo_value in catecumeno.CicloChoices.choices %}
                    <option value="{{ ciclo_key }}" {% if form.ciclo.value == ciclo_key %} selected {% endif %}>{{ ciclo_value }}</option>
                {% endfor %}
            </select>
            {% for error in form.ciclo.errors  %}  
                <span class="error">{{ error }}</span> 
            {% endfor %}
        </p>
    </div>
    <div class="panel" style="flex: 1; margin-right: 15px;">
        <h1 style="margin-top: 5px; margin-bottom: 10px; border-bottom: 2px solid #ccc; padding-bottom: 5px;">Información de familia</h1>
        <p><strong>Nombre de la madre:</strong> <input type="text" name="nombre_madre" value="{{ form.nombre_madre.value }}"> {% for error in form.nombre_madre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}<input type="text" name="apellidos_madre" value="{{ form.apellidos_madre.value }}">{% for error in form.apellidos_madre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Email de la madre:</strong> <input type="email" name="email_madre" value="{{ form.email_madre.value }}"> {% for error in form.email_madre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Teléfono de la madre:</strong> <input type="tel" name="telefono_madre" value="{{ form.telefono_madre.value }}"> {% for error in form.telefono_madre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Nombre del padre:</strong> <input type="text" name="nombre_padre" value="{{ form.nombre_padre.value }}">{% for error in form.nombre_padre.errors  %}  <span class="error">{{ error }}</span> {% endfor %} <input type="text" name="apellidos_padre" value="{{ form.apellidos_padre.value }}">{% for error in form.apellidos_padre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Email del padre:</strong> <input type="email" name="email_padre" value="{{ form.email_padre.value }}">{% for error in form.email_padre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
        <p><strong>Teléfono del padre:</strong> <input type="tel" name="telefono_padre" value="{{ form.telefono_padre.value }}">{% for error in form.telefono_padre.errors  %}  <span class="error">{{ error }}</span> {% endfor %}</p>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap;">
    <div style="flex: 1; margin-right: 15px;" class="panel">
        <h1 style="margin-top: 5px; margin-bottom: 10px; border-bottom: 2px solid #ccc; padding-bottom: 5px;">Autorización</h1>
        <div style="display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column; justify-content: center;">
                <input type="file" name="foto" value="{{ form.foto.value }}">
                {% for error in form.foto.errors  %}  <span class="error">{{ error }}</span> {% endfor %}
                {% if catecumeno.foto %}
                    <a href="/media/{{ catecumeno.foto }}" alt="Autorización de {{ catecumeno.nombre }}" target="_blank">
                        <img src="/media/{{ catecumeno.foto }}" alt="Autorización de {{ catecumeno.nombre }}" style="width: 300px;">
                    </a>
                {% else %}
                    <p><strong>No hay autorización</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div style="flex: 2; margin-right: 15px;" class="panel">
        <h1 style="margin-top: 5px; margin-bottom: 10px; border-bottom: 2px solid #ccc; padding-bottom: 5px;">Estadísticas</h1>
        <p><strong>Catequistas:</strong>
            {% if catequistas %}
                {{ catequistas.0 }} y 
                {{ catequistas.1 }}
            {% else %}
                No hay catequistas asignados
            {% endif %}
        </p>
        <div style="display: flex;">
            <div style="flex: 1;">
                <p><strong>Ausencias:</strong> {{ ausencias|length }}</p>
                <ul>
                    {% for ausencia in ausencias %}
                        <li>
                            {{ ausencia.fecha }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div style="flex: 1;">
                <p><strong>Faltas justificadas:</strong> {{ justificaciones|length }}</p>
                <ul>
                    {% for justificacion in justificaciones %}
                        <li>
                            {{ justificacion.fecha }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if ausencias|length > 0 or justificaciones|length > 0 or asistencias|length > 0 %}
                <div style="flex: 1;">
                    <div style="width: 100%; height: 250px; display: flex; justify-content: center;">
                        <canvas id="myChart" width="200" height="200"></canvas>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
</form>
<style>

    .error {
        color: red;
        text-align: center;
    }
    .panel {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .panel h1 {
        font-size: 18px;
        color: #333;
    }
    .panel p {
        font-size: 16px;
        color: #666;
    }
    .panel a {
        color: #007bff;
        text-decoration: none;
        font-size: 16px;
        display: block;
        margin-top: 10px;
    }
    hr {
        margin-top: 0;
    }

    button {
        background-color: transparent;
        color: #86c631;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #86c631;
        color: white;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Asistencias', 'Justificaciones', 'Ausencias'],
            datasets: [{
                label: 'Estadísticas',
                data: [{{ asistencias|length }}, {{ justificaciones|length }}, {{ ausencias|length }}],
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)'
                ]
            }]
        },
        options: {
            
            plugins: {
                legend: {
                    display: false
                }
            }
        }
    });
</script>

{% endblock %}
