{% extends 'base.html' %}
{% load static %}

{% block title %} Listar Catecúmenos {% endblock %}

{% block content %}

<div id="alumnos-container">
    <table class="alumnos-table rounded-border">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Ciclo</th>
                <th>Nombre Madre</th>
                <th>Apellidos Madre</th>
                <th>Email Madre</th>
                <th>Nombre Padre</th>
                <th>Apellidos Padre</th>
                <th>Email Padre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for catecumeno in catecumenos %}
                <a href="{% url 'mostrar_catecumeno' catecumeno.id %}">
                    <tr id="catecumeno-{{ catecumeno.id }}" class="alumno" data-ciclo="{{ catecumeno.ciclo }}">
                        <td>{{ catecumeno.nombre }}</td>
                        <td>{{ catecumeno.apellidos }}</td>
                        <td>{{ catecumeno.email }}</td>
                        <td>{{ catecumeno.get_ciclo_display }}</td>
                        <td>{{ catecumeno.nombre_madre }}</td>
                        <td>{{ catecumeno.apellidos_madre }}</td>
                        <td>{{ catecumeno.email_madre }}</td>
                        <td>{{ catecumeno.nombre_padre }}</td>
                        <td>{{ catecumeno.apellidos_padre }}</td>
                        <td>{{ catecumeno.email_padre }}</td>
                        <td><a href="{% url 'eliminar_catecumeno' catecumeno.id %}">Eliminar</a></td>
                    </tr>
                </a>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var filas = document.querySelectorAll(".alumno");
        filas.forEach(function(fila) {
            fila.addEventListener("click", function() {
                var id = this.id.split("-")[1];
                var url = "{% url 'mostrar_catecumeno' 0 %}".replace("0", id);
                window.location.href = url;
            });
        });
    });
</script>

<style>
    .alumno{
        cursor: pointer;
    }
</style>

{% endblock %}
