{% extends 'base.html' %}
{% load static %}

{% block title %} Crear Grupo {% endblock %}

{% block content %}
    {% if error %}
        <div class="error text-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

<form id="group-form" method="POST">
    {% csrf_token %}
    <label for="ciclo">Ciclo:</label>
    <select id="ciclo" name="ciclo">
        <option value="posco_1">Posco 1</option>
        <option value="posco_2">Posco 2</option>
        <option value="posco_3">Posco 3</option>
        <option value="posco_4">Posco 4</option>
        <option value="gr_juv_1">Grupos Juveniles 1</option>
        <option value="gr_juv_2">Grupos Juveniles 2</option>
        <option value="catecumenados_1">Catecumenados 1</option>
        <option value="catecumenados_2">Catecumenados 2</option>
        <option value="catecumenados_3">Catecumenados 3</option>

        <!-- Agrega otras opciones de ciclos aquí -->
    </select><br>

    <label for="catequista1">Catequista 1:</label>
    <select id="catequista1" name="catequista1">
        <!-- Opciones de catequistas se cargarán dinámicamente con JavaScript -->
    </select><br>

    <label for="catequista2">Catequista 2:</label>
    <select id="catequista2" name="catequista2">
        <!-- Opciones de catequistas se cargarán dinámicamente con JavaScript -->
    </select><br>

    <input type="submit" value="Guardar">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $('#ciclo').change(function(){
            var selectedCiclo = $(this).val();
            $.ajax({
                url: '/grupo/ajax/obtener_catequistas/',
                data: {
                    'ciclo_id': selectedCiclo
                },
                dataType: 'json',
                success: function(data){
                    $('#catequista1').empty();
                    $('#catequista2').empty();
                    $.each(data.catequistas, function(index, catequista){
                        $('#catequista1').append('<option value="' + catequista.id + '">' + catequista.nombre +' '+ catequista.apellidos + '</option>');
                        $('#catequista2').append('<option value="' + catequista.id + '">' + catequista.nombre +' ' +catequista.apellidos + '</option>');
                    });
                }
            });
        });
    });
</script>
{% endblock %}