{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles de Evento{% endblock %}

{% block content %}
    <div class="container event-details">
        <h2 class="titulo"> Detalles del evento: {{ evento.nombre }}</h2>
        <p class="texto"><strong>Fecha:</strong> {{ evento.fecha }}</p>
        <p class="texto"><strong>Hora:</strong> {{ evento.hora_inicio }} - {{ evento.hora_fin }}</p>
        <p class="texto"><strong>Descripción:</strong> {{ evento.descripcion }}</p>
        <p class="texto"><strong>Tipo:</strong> {{ evento.tipo }}</p>
        {% if evento.participantes %}
            <p class="texto"><strong>Participantes:</strong></p>
            <ul class="texto">
                {% for participante in evento.participantes.all %}
                    <li>{{ participante }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if evento.sala_reservada %}
            <p class="texto"><strong>Sala:</strong> {{ evento.sala }}</p>
        {% endif %}
    </div>

    <style>
        .container {
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 50%;
            height: auto;
            overflow: hidden;
            word-wrap: break-word;
        }

        @media only screen and (max-width: 1000px) {
            .container {
                width: auto;
            }
        }

        .titulo {
            font-size: 2em;
            margin-bottom: 20px;
            text-align: center;
            word-wrap: break-word;
            color: #343a40;
        }

        .texto {
            font-size: 16px;
            margin-bottom: 5px;
            color: #555;
            line-height: 1.6;
            word-wrap: break-word;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin: 10px 0;
        }

        ul li a:hover {
            background-color: #86c631;
            color: #fff;
        }

    </style>
{% endblock %}
