{% extends 'base.html' %}
{% load static %}

{% block title %}Eventos{% endblock %}

{% block content %}

<div class="container">
    <div style="display: flex; flex: row; justify-content: space-between; align-items: center;">
        <h1>Eventos</h1>
        <a class="boton" href="{% url 'crear_evento' %}"> Crear evento</a>
    </div>
    <hr>
    <div class="sesion-container">
        {% for evento in eventos %}
            <div class="sesion">
                <div class="titulo"><h3>{{ evento.nombre }}</h3></div>
                <div class="descripcion">{{ evento.descripcion }}</div>
                <p>Tipo: {{ evento.tipo }}</p>
                <p> - {{ evento.fecha }} - </p>
                <p> {{ evento.hora_inicio }} {{ evento.hora_fin }} </p>
                {% if evento.participantes|length > 0 %}
                    <p>Participantes:</p>
                    <ul>
                        {% for participante in evento.participantes.all %}
                        <li>{{ participante.get_full_name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if evento.sala %}
                    <p>Sala: {{ evento.sala_reservada.nombre }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<style>
    .sesion-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
    }

    .sesion{
        background-color: #fff;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        position: relative;
        max-width: 400px;
        min-width: 250px;
    }

    .sesion h3{
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    .titulo,
    .descripcion {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .boton{
        display: inline-block;
        margin: 10px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        background-color: #86c631;
        padding: 10px 20px;
        font-weight: bold;
    }

    .boton:hover{
        background-color: #FFBE0B;
    }

</style>

{% endblock %}
