{% extends 'base.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index_styles.css' %}">

    <h4 style="text-align: center;"> GRUPOS </h4>
    <div class="flex-container">
        {% for grupo in grupos %}
            <div class="caja grupo">
                <h3>{{ grupo.catequista1.first_name }} y {{ grupo.catequista2.first_name }}</h3>
                <div class="miembros">
                    {% for miembro in grupo.miembros.all %}
                        <p>{{ miembro.nombre }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <h4 style="text-align: center;"> SESIÓN </h4>


    <div class="flex-container">
        <div class="caja sesion">
            <div class="rectangulo-rojo"></div>
            <h2 style="text-align: center;"> Sesión de hoy </h2>
            <p style="margin-left: 20px;"> Título: {{ proxima_sesion.titulo }} </p>
            <p style="margin-left: 20px;"> Fecha: {{ proxima_sesion.fecha }} </p>
            <p style="margin-left: 20px;"> Descripción: {{ proxima_sesion.descripcion }} </p>
            <p style="margin-left: 20px;"> Archivos asociados:  </p>
        </div>

        <div class="flex-vertical">
            <a href="{% url 'listar_sesiones' %}" class="caja verticales">
                <p> LISTARxº     SESIONES </p>
            </a>
            <a href="{% url 'pasar_lista' proxima_sesion.id %}" class="caja verticales">
                <p> PASAR LISTA </p>
            </a>
        </div>
    </div>

    <h4 style="text-align: center;"> ESTADÍSTICAS </h4>
    <div class="flex-container">
        <div style="background-color: lightblue;"  class="caja casilla">
            <h2> CATECÚMENOS </h2>
        </div>
        <div style="background-color: lightgreen;" class="caja casilla">
            <h2> CATEQUISTAS </h2>
        </div>
        <div style="background-color: lightpink;" class="caja casilla">
            <h2> SALAS RESERVADAS </h2>
        </div>
        <div style="background-color: lightyellow;" class="caja casilla">
            <h2> EVENTOS </h2>
        </div>
    </div>
{% endblock %}