<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portal de Catequesis</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'core/css/inicio_style.css' %}">
</head>
<body class="font-sans" data-font-pack="dynamic">
  <div id="app" data-v-app="">
     <div class="bg-canvas dark:bg-slate-950 overflow-hidden" data-testid="site-content">
        <div class="section-spacing">
           <div class="border-b border-slate-100 dark:border-slate-800 overflow-hidden relative" sectionname="hero" id="hero" sectionlabel="Hero" sortorder="0">
              <div class="absolute inset-x-0 top-0 z-10" text-color="auto" client:load="">
                 <div class="px-6 py-6 md:px-8 relative z-10 preview-menu-wrapper">
                    <nav class="flex items-center justify-between gap-x-4 md:gap-x-6" aria-label="Global">
                       <div class="shrink-0 gap-x-4 md:gap-x-8 flex mx-auto">
                        <a href="/user/login" class="nav-item text-sm shrink-0 font-sans font-semibold leading-6 capitalize text-type-900 dark:text-white">Iniciar Sesión</a>
                     </div>
                    </nav>
                 </div>
              </div>
              <div class="relative isolate px-6 pt-14 lg:px-8">
                 <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr to-primary from-secondary opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
                 </div>
                 <div class="py-32" style="padding-top: 4rem;">
                    <div class="mx-auto">
                        {% block content %}
                        {% endblock %}
                       <div class="text-center">
                          <div class="mx-auto">
                             <h1 class="text-4xl font-black font-sans text-balance tracking-tight sm:text-6xl xl:text-7xl text-type-950 dark:text-white preview-menu-wrapper relative">
                                Parroquia Los Remedios
                             </h1>
                             <h2 class="prose prose-user mt-6 text-balance sm:text-xl font-serif mx-auto text-type-800 dark:text-slate-300 preview-menu-wrapper relative">
                                 ¡Bienvenido al Portal de Gestión de Catequesis! Regístrate como catecúmeno o envía tu solicitud para ser catequista. ¡Tu compromiso hace la diferencia!
                             </h2>
                          </div>
                       </div>
                    </div>
                    <div class="flex mt-16 justify-center">
                        <img src="/static/icons/pjv_verde.png" alt="Catequesis">
                    </div>
                 </div>
                 <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
                    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr to-primary from-secondary opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"></div>
                 </div>
              </div>
           </div>
           <section class="space-y-5 md:space-y-20 lg:space-y-10 2xl:space-y-32" style="margin-top: 3rem; z-index: -1;" sectionname="features" id="features" sectioncomponent="Features" sectionlabel="Features" sortorder="1" section-component="Features" site-name="Catequesis" site-id="MTFG4UK0kilyUHHcDBM0" site-logo-url="https://storage.googleapis.com/mixo-files/logos/1714242146314-catequesis-31bm.svg" site-config="[object Object]" header-visible="true" header="[object Object]">
              <div class="relative overflow-hidden space-y-24" style="margin-top: 3rem;">
                 <div class="lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-6 xl:gap-12 2xl:gap-24">
                    <div class="max-w-xl px-4 mx-auto space-y-6 sm:px-6 lg:py-28 xl:py-32 2xl:mx-0 lg:col-start-2 lg:mx-0 lg:px-0 lg:pr-8">
                       <div>
                          <h2 class="text-3xl sm:text-4xl font-black font-sans tracking-tight text-type-900 dark:text-white preview-menu-wrapper relative">
                             ¿Quieres apuntarte a catequesis?
                          </h2>
                          <div class="mt-4 prose prose-user font-serif leading-relaxed text-type-700 dark:text-slate-200 text-base sm:text-lg preview-menu-wrapper relative">
                             ¡Regístrate aquí y comienza tu camino de fe! Apúntete ahora para participar en nuestras sesiones de catequesis.
                          </div>
                          <a class="ui-button ui-button-base ui-button-primary" href="/catecumeno/crear" disabled="false" style="margin-top: 1rem;">Registrarse</a>
                       </div>
                    </div>
                    <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1 preview-menu-wrapper relative">
                       <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center pr-4 -sm:ml-48 sm:pr-6 md:-ml-16">
                          <img src="https://images.unsplash.com/photo-1528437457702-ec66df48de3f?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTQyNDIxNDV8&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" class="lg:right-0 rounded-r-2xl max-h-screen w-auto  2xl:max-w-2xl 3xl:max-w-3xl object-contain ml-auto 2xl:rounded-2xl w-full 2xl:max-h-[44rem]" alt="Encuentra guías de estudio"><!---->
                       </div>
                    </div>
                 </div>
              </div>
              <div class="relative overflow-hidden space-y-24" style="margin-top: 2rem;">
                 <div class="lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-6 xl:gap-12 2xl:gap-24">
                    <div class="max-w-xl px-4 mx-auto space-y-6 sm:px-6 lg:py-28 xl:py-32 2xl:mx-0 lg:mx-auto lg:max-w-3xl xl:pl-12 2xl:pl-20 2xl:justify-self-end">
                       <div>
                          <h2 class="text-3xl sm:text-4xl font-black font-sans tracking-tight text-type-900 dark:text-white preview-menu-wrapper relative">
                             ¿Quieres ser Catequista?
                          </h2>
                          <div class="mt-4 prose prose-user font-serif leading-relaxed text-type-700 dark:text-slate-200 text-base sm:text-lg preview-menu-wrapper relative">
                              ¡Contribuye a la formación de nuevas generaciones en la fe! Envía tu solicitud para convertirte en catequista y participar activamente en nuestra misión de educar y guiar a nuestros catecúmenos.
                          </div>
                          <a to="" class="ui-button ui-button-base ui-button-primary" href="/catequista/crear" disabled="false" style="margin-top: 1rem;">Enviar solicitud</a>
                       </div>
                    </div>
                    <div class="mt-12 sm:mt-16 lg:mt-0 preview-menu-wrapper relative">
                       <div class="lg:px-0 lg:m-0 lg:relative lg:h-full lg:flex lg:items-center pl-4 sm:-mr-48 sm:-mr-6 sm:pl-6 md:-mr-16">
                          <img src="https://images.unsplash.com/photo-1520342231070-dd98320f8cf3?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTQyNDIxNDV8&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" class="rounded-l-2xl lg:left-0 max-h-screen w-auto  2xl:max-w-2xl 3xl:max-w-3xl object-contain mr-auto 2xl:rounded-2xl w-full 2xl:max-h-[44rem]" alt="Participa en actividades religiosas"><!---->
                       </div>
                    </div>
                 </div>
              </div>
           </section>
           <footer class="border-t dark:border-0 dark:bg-slate-900" style="margin-top: 3rem;">
            <div class="mx-auto max-w-7xl overflow-hidden py-16 px-6 sm:py-24 lg:px-8 space-y-8" style="padding-top: 3rem;">
                <nav class="columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
                  <div>
                     <h3 class="text-sm font-semibold text-type-700">Contáctanos:</h3>
                     <ul class="mt-2 space-y-2">
                         <li><a href="mailto:posco@gmail.com" class="text-sm leading-6 footer-link font-sans">Posco: posco@gmail.com</a></li>
                         <li><a href="mailto:parroquia@gmail.com" class="text-sm leading-6 footer-link font-sans">Parroquia: parroquia@gmail.com</a></li>
                     </ul>
                 </div>
                 <div>
                     <h3 class="text-sm font-semibold text-type-700">Redes Sociales:</h3>
                     <ul class="mt-2 space-y-2">
                         <li><a href="https://instagram.com/pjvlosremedios" class="text-sm leading-6 footer-link font-sans">Instagram: pjvlosremedios</a></li>
                     </ul>
                 </div>
                </nav>
                
                <p class="sm:text-center text-xs leading-5 text-type-500 font-serif">© All rights reserved.</p>
            </div>
        </footer>
        
        </div>
     </div>
  </div>
</body>
</html>
